.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contatos {
    background-color: #F0F0F0;
    height: 105vh;
    width: 90%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario {
    width: 90%;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

