.advantages {
  padding: 40px 20px;
  background-color: var(--cinza-claro);
  text-align: center;
}

.advantages h2 {
  font-size: var(--titulos);
  color: var(--azul-escuro);
  margin-bottom: 10px;
  font-family: var(--montserrat);
}

.advantages-subtitle {
  font-size: var(--paragrafos);
  color: var(--quase_preto);
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--montserrat);
}

.advantages-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-top: 40px;
}

.advantage-row,
.advantages-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.advantage-item {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 300px;
}

.advantage-item svg {
  background-color: rgba(26, 21, 75, 0.3);
  border-radius: 50%;
  padding: 20px;
  color: var(--branco);
  width: 80px;
  height: 80px;
}

.advantage-item div {
  text-align: left;
}

.advantage-item h3 {
  font-size: var(--titulos);
  color: var(--azul-escuro);
  margin-bottom: 10px;
  font-family: var(--montserrat);
}

.advantage-item p {
  font-size: var(--paragrafos);
  color: var(--quase_preto);
  font-family: var(--montserrat);
}
