/* Estilos para o banner principal */
.banner-home {
  background-image: url('../../assets/bannerp.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; /* Usa toda a largura da tela */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Pseudo-elemento para a sombra */
.banner-home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(26, 21, 75, 0.5); /* Ajuste a cor e opacidade da sombra conforme necessário */
  z-index: 1; /* Garante que a sombra fique atrás do conteúdo do banner */
}

/* Ajusta o conteúdo do banner para não sobrepor a sombra */
.banner-home > * {
  position: relative;
  z-index: 2; /* Garante que o conteúdo fique acima da sombra */
}

/* Logo.css */
.logo-container {
  text-align: center; /* Centraliza a logo */
  margin: 20px; /* Espaçamento ao redor da logo */
}

.logo-image {
  max-width: 100%; /* Para garantir que a imagem não exceda a largura do contêiner */
  height: auto; /* Mantém a proporção da imagem */
}

/** RESPONSIVIDADE BANNER SOBRE **/

/* Para telas grandes (acima de 1200px) */
@media (min-width: 1200px) {
  .banner-home {
    background-size: cover;
  }
}

/* Para telas de desktop padrão (entre 992px e 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .banner-home {
    background-size: cover;
  }
}

/* Para tablets (entre 768px e 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .banner-home {
    background-size: cover;
  }
}

/* Para dispositivos móveis grandes (entre 576px e 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .banner-home {
    background-size: cover;
  }
}

/* Para dispositivos móveis pequenos (até 575px) */
@media (max-width: 575px) {
  .banner-home {
    background-size: cover;
    background-position: top center; /* Ajustar se necessário */
  }
}

/** FIM RESPONSIVIDADE BANNER SOBRE **/

.banner-home h1 {
  padding: 5px;
  color: var(--branco); /* Usando a variável */
  font-weight: bold;
  font-size: var(--titulos_maiores); /* Usando a variável */
}

.banner-home p {
  text-align: center;
  font-size: var(--titulos); /* Usando a variável */
  color: var(--branco); /* Usando a variável */
}

.banner-home button {
  margin: 1.2rem;
  height: 48px;
  width: 250px;
  background-color: transparent;
  border: 1px solid var(--branco); /* Usando a variável */
  border-radius: 12px;
  color: var(--branco); /* Usando a variável */
  font-size: var(--paragrafos); /* Usando a variável */
  font-weight: 400;
}
