.contact {
  position: relative;
  padding: 20px 40px;
  background: url('../../assets/equipe.jpg') no-repeat center center;
  background-size: cover;
  color: #FFFFFF;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  box-shadow: inset 0 0 0 1000px rgba(26, 21, 75, 0.5);
  text-align: left;
  margin-bottom: 100px;
}

/* Estilo para o container interno */
.contact > div {
  max-width: 60%;
}

/* Título da seção de contato */
.contact h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #FFFFFF;
  max-width: 40%;
  font-family: var(--montserrat); 
}

/* Parágrafo da seção de contato */
.contact p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-family: var(--montserrat); 
}

/* Botões de contato */
.contact-buttons1 {
  display: flex;
  gap: 10px;
}

/* Estilo dos botões */
.contact-buttons1 .btn {
  background-color: #1A154B; /* Cor de fundo padrão */
  color: #ffffff; /* Cor da escrita padrão */
  padding: 12px 24px; 
  text-decoration: none; 
  border-radius: 8px; 
  transition: background-color 0.3s, transform 0.3s; 
  display: inline-block; 
  font-size: 1rem; 
  font-weight: 600; 
  font-family: var(--montserrat); 
}

/* Efeito de hover nos botões */
.contact-buttons1 .btn:hover {
  background-color: #ffffff; /* Cor de fundo ao passar o mouse */
  color: #1A154B; /* Cor da escrita ao passar o mouse */
  transform: translateY(-2px);
}
