.intro-banner {
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 40px; 
  background-color: var(--cinza-claro); 
  position: relative; 
  flex-wrap: wrap; 
  margin-left: 20px; 
  margin-right: 20px; 
}

.intro-text {
  max-width: 35%; 
  text-align: left; 
  margin: 0; 
}

.intro-text h1 {
  font-size: var(--titulos-maiores); 
  color: var(--azul-escuro); 
  margin-bottom: 20px; 
  font-family: var(--montserrat);
}

.intro-text p {
  font-size: var(--paragrafos); 
  color: var(--quase_preto); 
  margin-bottom: 20px; 
  font-family: var(--montserrat);
}

.orcamento-container {
  display: flex; 
  justify-content: flex-start; 
  width: 100%; 
  margin-top: 20px; 
}

.orcamento-btn {
  background-color: #1A154B; 
  color: #ffffff; 
  padding: 12px 24px; 
  text-decoration: none; 
  border-radius: 8px; 
  transition: background-color 0.3s, transform 0.3s; 
  display: inline-block; 
  font-size: 1rem; 
  font-weight: 600; 
  font-family: var(--montserrat); 
}

.orcamento-btn:hover {
  background-color: #ffffff; 
  color: #1A154B; 
  transform: translateY(-2px); 
}

.intro-image {
  width: 500px; 
  height: auto; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 100px; 
}

.intro-image img {
  width: 100%; 
  height: auto; 
  aspect-ratio: 1 / 1;
  object-fit: cover; 
  border-radius: 8px; 
}

@media (max-width: 768px) {
  .intro-banner {
    flex-direction: column; 
    text-align: center; 
  }
  
  .intro-text {
    max-width: 100%; 
    margin-bottom: 20px; 
  }
  
  .intro-image {
    max-width: 80%; 
  }
}

@media (max-width: 480px) {
  .intro-text h1 {
    font-size: 2rem; 
  }
  
  .intro-text p {
    font-size: var(--paragrafos); 
  }
}
