/* Estilo da seção Pride */
.pride {
  background-color: var(--cinza-claro); /* Usando a variável */
  padding: 40px 20px; /* Adicionando padding para a seção */
  text-align: center; /* Alinha o texto ao centro */
}

.pride h2 {
  color: var(--azul-escuro); /* Usando a variável */
  font-family: var(--montserrat); /* Usando a variável */
  font-size: var(--titulos); /* Usando a variável para o tamanho do título */
  margin-bottom: 10px; /* Espaçamento abaixo do título */
}

.pride-subtitle {
  font-size: var(--paragrafos); /* Usando a variável */
  color: var(--quase_preto); /* Usando a variável */
  margin-bottom: 20px; /* Espaçamento abaixo do subtítulo */
  text-align: center; /* Centraliza o subtítulo */
  max-width: 800px; /* Limita a largura do subtítulo */
  margin-left: auto; /* Centraliza horizontalmente */
  margin-right: auto; /* Centraliza horizontalmente */
  font-family: var(--montserrat); /* Usando a variável */
}

.video-container {
  display: flex; /* Flexbox para centralizar o vídeo */
  justify-content: center; /* Centraliza o conteúdo */
  margin-top: 20px; /* Margem superior */
  padding: 20px; /* Padding para a área do vídeo */
}

.video-container iframe {
  width: 70%; /* Largura do vídeo */
  height: 350px; /* Altura do vídeo */
  max-width: 50%; /* Largura máxima do vídeo */
  border: none; /* Sem borda */
  border-radius: 10px; /* Bordas arredondadas */
}
