.structure {
  padding: 40px 20px; 
  background-color: var(--cinza-claro); 
  text-align: center; 
}

.structure h2 {
  font-size: var(--titulos); 
  color: var(--azul-escuro); 
  margin-bottom: 10px; 
  font-family: var(--montserrat); 
}

.structure-subtitle {
  font-size: var(--paragrafos); 
  color: var(--quase_preto); 
  margin-bottom: 20px; 
  max-width: 800px;
  margin-left: auto; 
  margin-right: auto; 
  font-family: var(--montserrat); 
}

.structure-card-container {
  display: flex;
  justify-content: center; 
}

.structure-card {
  display: flex;
  align-items: center;
  background-color: var(--branco); 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 0; 
  max-width: 800px; 
  margin: 0 auto; 
  overflow: hidden; 
}

.structure-card-image {
  width: 50%; 
  height: auto; 
  border-radius: 8px 0 0 8px; 
  margin-right: 0; 
  position: relative; 
  left: 0; 
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.structure-card-content {
  text-align: center; 
  padding: 20px; 
}

.structure-card-content h3 {
  font-size: var(--titulos); 
  color: var(--azul-escuro); 
  margin-bottom: 10px; 
  font-family: var(--montserrat); 
}

.structure-description {
  font-size: var(--paragrafos); 
  color: #666666; 
  font-family: var(--montserrat); 
}
