.structure {
  padding: 40px 0;
  background-color: var(--cinza-claro); 
  text-align: center; 
}

.structure h2 {
  font-size: var(--titulos); 
  color: var(--azul-escuro); 
  margin-bottom: 10px; 
  font-family: var(--montserrat); 
}

.structure-subtitle {
  font-size: var(--paragrafos); 
  color: var(--quase_preto); 
  margin-bottom: 20px; 
  max-width: 800px;
  margin-left: auto; 
  margin-right: auto; 
  font-family: var(--montserrat); 
}

.structure-carousel-container {
  width: 100%;
  overflow: hidden;
  padding: 0;
}

.structure-carousel-item {
  display: flex;
  justify-content: center;
}

.structure-carousel-image {
  width: 100%;
  height: 400px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.slick-center .structure-carousel-image {
  transform: scale(1.2); 
  box-shadow: 
    0 0 30px rgba(255, 255, 255, 0.8),
    0 0 50px rgba(255, 255, 255, 0.5);
  filter: blur(0); 
  opacity: 1; 
}


.slick-slide:not(.slick-center) .structure-carousel-image {
  transform: scale(0.8); 
  filter: blur(4px); 
  opacity: 0.6; 
}

.slick-dots li button:before {
  font-size: 12px;
  color: var(--azul-escuro);
}

.slick-dots li.slick-active button:before {
  color: var(--azul-claro);
}
