.banner-equipe {
  position: relative; /* Necessário para o pseudo-elemento ::before */
  background-image: url('../../assets/equipe.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Pseudo-elemento para a sombra */
.banner-equipe::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(26, 21, 75, 0.5); 
  z-index: 1; 
}

/* Ajusta o conteúdo do banner para não sobrepor a sombra */
.banner-equipe > * {
  position: relative;
  z-index: 2; 
}

/** RESPONSIVIDADE BANNER SOBRE **/
/* Para telas grandes (acima de 1200px) */
@media (min-width: 1200px) {
  .banner-equipe {
    background-size: cover;
  }
}

/* Para telas de desktop padrão (entre 992px e 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .banner-equipe {
    background-size: cover;
  }
}

/* Para tablets (entre 768px e 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .banner-equipe {
    background-size: cover;
  }
}

/* Para dispositivos móveis grandes (entre 576px e 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .banner-equipe {
    background-size: cover;
  }
}

/* Para dispositivos móveis pequenos (até 575px) */
@media (max-width: 575px) {
  .banner-equipe {
    background-size: cover;
    background-position: top center; 
  }
}

/** FIM RESPONSIVIDADE BANNER SOBRE **/

.banner-equipe h1 {
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 5rem;
  font-family: var(--montserrat); 
}

.banner-equipe p {
  text-align: center;
  font-size: 1rem;
  color: white;
  font-family: var(--montserrat); 
}

.banner-equipe button {
  margin: 1.2rem;
  height: 48px;
  width: 250px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--montserrat); 
}
