.profissional-card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.profissional p {
  font-size: 1rem; /* Tamanho do subtítulo */
  color: #1A154B; /* Cor do subtítulo */
  margin-bottom: 20px; /* Espaçamento abaixo do subtítulo */
  max-width: 800px; /* Limita a largura do subtítulo */
  margin-left: auto; /* Centraliza o subtítulo horizontalmente */
  margin-right: auto; /* Centraliza o subtítulo horizontalmente */
  text-align: center;
}

.profissional-card {
  border-radius: 8px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: 280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profissional-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.profissional-card h3 {
  font-size: 1.2rem;
  color: #1A154B;
  margin-bottom: 5px;
}

.profissional-description {
  font-size: 0.9rem;
  color: #666666;
}
