.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1A154B;
  position: relative;
  color: #FFFFFF;
}

.footer-left {
  flex: 1;
  padding: 20px;
  background-color: #1A154B;
}

.footer-left h2 {
  margin: 0;
  font-size: 1.5rem;
}

.footer-left p {
  margin: 5px 0;
}

.contact-info {
  margin-top: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-item p {
  margin-left: 10px;
}

.footer-right {
  flex: 1;
  padding: 20px;
  background-color: #FFFFFF;
  color: #1A154B;
  text-align: right;
}

.footer-right h2 {
  margin: 0;
  font-size: 1.5rem;
}

.footer-right p {
  margin: 10px 0;
}

.footer-right .btn {
  background-color: #1A154B;
  color: #FFFFFF;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.footer-right .btn:hover {
  background-color: #333366;
}

.footer-banner {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.footer-banner img {
  width: 100%;
  height: auto;
  opacity: 0.3;
}
