.banner {
  position: relative;
  text-align: center;
  color: #FFFFFF;
}

.banner img {
  width: 100%;
  height: auto;
  opacity: 0.8;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.banner-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.banner-buttons .btn {
  background-color: #1A154B;
  color: #FFFFFF;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.banner-buttons .btn:hover {
  background-color: #333366;
}
