.banner2 {
    position: relative;
    padding: 20px 40px;
    background: url('../../assets/equipe.jpg') no-repeat center center;
    background-size: cover;
    color: #FFFFFF;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    box-shadow: inset 0 0 0 1000px rgba(26, 21, 75, 0.5);
    text-align: left;
    margin-bottom: 100px;
  }
  
  .banner2 > div {
    max-width: 60%;
  }
  
  .banner2 h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #FFFFFF;
    max-width: 40%;
  }
  
  .banner2 p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #FFFFFF;
  }
  
  .contact-buttons3 {
    display: flex;
    gap: 10px;
  }
  
  .contact-buttons3 .btn {
    background-color: #1A154B; /* Cor de fundo padrão */
    color: #ffffff; /* Cor da escrita padrão */
    padding: 12px 24px; 
    text-decoration: none; 
    border-radius: 8px; 
    transition: background-color 0.3s, transform 0.3s; 
    display: inline-block; 
    font-size: 1rem; 
    font-weight: 600; 
    font-family: var(--montserrat);
  }
  
  .contact-buttons3 .btn:hover {
    background-color: #ffffff; /* Cor de fundo ao passar o mouse */
    color: #1A154B; /* Cor da escrita ao passar o mouse */
    transform: translateY(-2px);
  }
  