/* Estilos para o banner de introdução */
.outro-banner {
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 40px; 
  background-color: var(--cinza-claro); 
  position: relative; 
  flex-wrap: wrap; 
  margin-left: 20px; 
  margin-right: 20px; 
}

/* Texto de introdução */
.outro-text {
  max-width: 35%; 
  text-align: left; 
  margin: 0; 
}

/* Título do texto de introdução */
.outro-text h1 {
  font-size: var(--titulos-maiores); 
  color: var(--azul-escuro); 
  margin-bottom: 20px; 
  font-family: var(--montserrat);
}

/* Parágrafo do texto de introdução */
.outro-text p {
  font-size: var(--paragrafos); 
  color: var(--cinza-escuro); 
  margin-bottom: 20px; 
  font-family: var(--montserrat);
}

/* Imagem de introdução */
.outro-image {
  width: 500px; 
  height: auto; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 100px; 
}

/* Imagem de introdução com aspect-ratio */
.outro-image img {
  width: 100%; 
  height: auto; 
  aspect-ratio: 1 / 1; /* Proporção de 1:1 (quadrada) */
  object-fit: cover; 
  border-radius: 8px; 
}

/* Responsividade */
@media (max-width: 768px) {
  .outro-banner {
    flex-direction: column; 
    text-align: center; 
  }
  
  .outro-text {
    max-width: 100%; 
    margin-bottom: 20px; 
  }
  
  .outro-image {
    max-width: 80%; 
  }
}

@media (max-width: 480px) {
  .outro-text h1 {
    font-size: 2rem; 
  }
  
  .outro-text p {
    font-size: var(--paragrafos); 
  }
}
