/* Container para a lista de cards */
.lista-cards {
    max-width: 1208px;
    margin: 20px auto; /* Centraliza horizontalmente */
    display: flex;
    justify-content: space-between; /* Espaça as colunas igualmente */
    align-items: flex-start; /* Alinha as colunas no topo */
}

/* Estilo para cada coluna */
.coluna {
    flex: 1; /* Cada coluna ocupará espaço igual */
    padding: 20px; /* Padding interno para as colunas */
    text-align: center; /* Centraliza o texto dentro das colunas */
    font-family: var(--montserrat); /* Fonte para as colunas */
    color: var(--cinza-escuro); /* Cor do texto */
}

/* Linha separadora */
.separator {
    width: 2px; /* Largura da linha separadora */
    background-color: var(--azul-escuro); /* Cor azul escura */
    height: auto; /* Altura automática para se ajustar à coluna */
    min-height: 100px; /* Define uma altura mínima para a linha */
    margin: 0 20px; /* Margem para dar espaço entre as colunas */
}
