.lista-cards {
    max-width: 1208px;
    margin: 40px auto; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    flex-wrap: wrap; 
}

.coluna {
    flex: 1; 
    padding: 20px; 
    text-align: center; 
    font-family: var(--montserrat); 
    color: var(--cinza-escuro); 
    min-width: 300px; 
}

.coluna h2 {
    font-size: 3rem; 
    color: var(--azul-escuro); 
    font-family: var(--montserrat); 
    margin-bottom: 20px;
}

.coluna p {
    font-size: var(--paragrafos); 
    color: var(--quase_preto); 
    margin-bottom: 20px; 
    font-family: var(--montserrat); 
    line-height: 1.6; 
}

.separator {
    width: 2px; 
    background-color: var(--azul-escuro); 
    height: auto; 
    min-height: 100px; 
    margin: 0 20px; 
}

@media (max-width: 900px) {
    .lista-cards {
        flex-direction: column; 
        align-items: center; 
    }

    .coluna {
        min-width: 100%; 
        margin-bottom: 20px; 
    }

    .separator {
        display: none; 
    }

    .coluna h2 {
        font-size: 2.5rem; 
    }

    .coluna p {
        font-size: var(--paragrafos-mobile); 
    }
}

@media (max-width: 600px) {
    .coluna h2 {
        font-size: 2rem; 
    }

    .coluna p {
        font-size: var(--paragrafos-mobile); 
    }
}
