/* Container do formulário */
.container-formulario {
    width: 100%;
    height: 90%;
    background-color: #1A154B; /* Fundo escuro */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--montserrat); /* Fonte do formulário */
}

/* Estilo das labels */
.label {
    color: #fff; /* Texto branco */
    margin-bottom: 10px;
    font-size: 1.1rem; /* Tamanho da fonte */
}

/* Estilo dos campos */
.campo {
    padding: 10px;
}

/* Estilo de input e textarea */
.campo input, textarea {
    width: 25rem;
    height: 2.2rem;
    margin: 0 auto;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #5E5B81; /* Fundo dos campos */
    color: #fff; /* Texto branco */
    font-size: 1rem; /* Tamanho da fonte */
}

/* Estilo específico para a mensagem */
#mensagem {
    height: 200px;
    text-align: start;
}

/* Efeito de foco nos campos */
.campo input:focus, textarea:focus {
    border: 1px solid black;
    background-color: #fff; /* Fundo claro */
    color: #000; /* Texto escuro */
}

/* Estilo do botão */
.btn-form {
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 10px;
    background-color: #5E5B81; /* Fundo do botão */
    color: #FFFFFF; /* Texto branco */
    font-size: 1rem; /* Tamanho da fonte */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    font-family: var(--montserrat);
}

/* Efeito hover no botão */
.btn-form:hover {
    background-color: #FFFFFF; /* Fundo branco */
    color: #000000; /* Texto escuro */
}

/* Efeito ativo no botão */
.btn-form:active {
    background: #124A6C; /* Fundo escuro */
}
