/* Container principal */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container para o título */
.container-title {
    width: 100%;
}

/* Estilo do título principal */
.title {
    color: #fff; 
    font-size: 4.2rem; 
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: var(--montserrat); 
}

/* Container para o subtítulo */
.container-subtitle {
    width: 50%;
}

/* Estilo do subtítulo */
.subtitle {
    color: var(--cinza-escuro); 
    font-size: 1rem; 
    text-align: center;
    font-family: var(--montserrat); 
}
