/* Banner de serviços */
.banner-servicos {
  position: relative; /* Necessário para o pseudo-elemento ::before */
  background-image: url('../../assets/equipe.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; /* Usa toda a largura da tela */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--montserrat); /* Fonte para o banner */
}

/* Pseudo-elemento para a sombra */
.banner-servicos::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:rgba(26, 21, 75, 0.5); /* Sombra escura */
  z-index: 1; /* Garante que a sombra fique atrás do conteúdo do banner */
}

/* Ajusta o conteúdo do banner para não sobrepor a sombra */
.banner-servicos > * {
  position: relative;
  z-index: 2; /* Garante que o conteúdo fique acima da sombra */
}

/* Estilo do título */
.banner-servicos h1 {
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white; /* Texto branco */
  font-weight: bold;
  font-size: 5rem; /* Tamanho grande do título */
  text-align: center; /* Centraliza o texto */
}

/* Estilo do parágrafo */
.banner-servicos p {
  text-align: center;
  font-size: 1rem; /* Tamanho do texto */
  color: white; /* Texto branco */
}

/* Estilo do botão */
.banner-servicos button {
  margin: 1.2rem;
  height: 48px;
  width: 250px;
  background-color: transparent; /* Fundo transparente */
  border: 1px solid white; /* Borda branca */
  border-radius: 12px; /* Bordas arredondadas */
  color: white; /* Texto branco */
  font-size: 20px; /* Tamanho do texto do botão */
  font-weight: 400; /* Peso da fonte */
  transition: background-color 0.3s, color 0.3s; /* Transição suave */
}

/* Efeito hover no botão */
.banner-servicos button:hover {
  background-color: white; /* Fundo branco no hover */
  color: #000; /* Texto escuro no hover */
}

/* Responsividade já está definida para o banner */
