.banner-equipe {
  background-image: url('../../assets/equipe.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; /* Usa toda a largura da tela */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/** RESPONSIVIDADE BANNER SOBRE **/

/* Para telas grandes (acima de 1200px) */
@media (min-width: 1200px) {
  .banner-equipe {
    background-size: cover;
  }
}

/* Para telas de desktop padrão (entre 992px e 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .banner-equipe {
    background-size: cover;
  }
}

/* Para tablets (entre 768px e 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .banner-equipe {
    background-size: cover;
  }
}

/* Para dispositivos móveis grandes (entre 576px e 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .banner-equipe {
    background-size: cover;
  }
}

/* Para dispositivos móveis pequenos (até 575px) */
@media (max-width: 575px) {
  .banner-equipe {
    background-size: cover;
    background-position: top center; /* Ajustar se necessário */
  }
}

/** FIM RESPONSIVIDADE BANNER SOBRE **/

.banner-equipe h1{
  justify-content: center;
  align-items: center;
  padding: 5px;
  color:white;
  font-weight: bold;
  font-size: 5rem;
  
}

.banner-equipe p{
  text-align: center;
  font-size: 1rem;
  color: white;
}

.banner-equipe button {
  margin: 1.2rem;
  height: 48px;
  width: 250px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}