body {
  font-family: Arial, sans-serif;
  background-color: #F0F0F0;
  color: #1A154B;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
